<!doctype html>
<html>
<head>
    <meta charset="UTF-8 ">

    <script src="js/socket.io.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <title>Project Cubes</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/game.css">

</head>
<body>
    {{{body}}}
</body>
</html>