<!doctype html>
<html>
<head>
    <meta charset="UTF-8 ">

    <script src="/socket.io/socket.io.js"></script>
    <!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/template.css">

    <title>Three JS szakdolgozat</title>

    <link rel="icon" type="image/ico" href="pics/front/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>
    {{{body}}}
</body>
</html>